<% var uniqueAuthors=[]; var authorCounts={}; for (var i=0; i < items.length; i++) { var item=items[i]; if (item.author)
    { var authList=Array.isArray(item.author) ? item.author : [item.author]; for (var j=0; j < authList.length; j++) {
    var name=authList[j]; if (!authorCounts[name]) { authorCounts[name]=0; uniqueAuthors.push(name); }
    authorCounts[name]++; } } } var sortedList=[]; for (var k=0; k < uniqueAuthors.length; k++) { var
    authName=uniqueAuthors[k]; sortedList.push({ name: authName, count: authorCounts[authName] }); }
    sortedList.sort(function(a, b) { return b.count - a.count; }); %>
    <div class="authors-list">
        <% for (var x=0; x < sortedList.length; x++) { var authorObj=sortedList[x]; %>
            <div class="author-card <%= x === 0 ? 'top-author' : '' %>">
                <h3 class="author-name"><a href="archive.html#author=<%= encodeURIComponent(authorObj.name) %>">
                        <%= authorObj.name %>
                    </a></h3>
                <div class="author-meta">
                    <%= authorObj.count %> articles
                </div>
            </div>
            <% } %>
    </div>